let mapleader = " "
set scrolloff=10
set sidescrolloff=10
set clipboard+=ideaput
set smartcase
set incsearch
set timeoutlen=5000
set ideajoin
set nerdtree
set highlightedyank

let g:highlightedyank_highlight_duration = 100

nmap grn <Action>(RenameElement)
vmap grn <Action>(RenameElement)

nmap grr <Action>(Refactorings.QuickListPopupAction)
vmap grr <Action>(Refactorings.QuickListPopupAction)

nmap gra <Action>(ShowIntentionActions)
vmap gra <Action>(ShowIntentionActions)

nmap grg <Action>(Generate)
vmap grg <Action>(Generate)

nmap grs <Action>(SurroundWith)
vmap grs <Action>(SurroundWith)

nmap gro <Action>(ReformatCode)
vmap gro <Action>(ReformatCode)

nmap <C-w>d <Action>(ShowErrorDescription)
nmap <C-w>q <Action>(CloseEditor)

nmap [d <Action>(GotoPreviousError)
nmap ]d <Action>(GotoNextError)
nmap [b :bp<CR>
nmap ]b :bn<CR>

vmap <S-J> <Action>(MoveLineDown)
vmap <S-K> <Action>(MoveLineUp)
nmap <C-S-J> <Action>(MoveStatementDown)
nmap <C-S-K> <Action>(MoveStatementUp)
map <C-S-J> <Action>(MoveStatementDown)
map <C-S-K> <Action>(MoveStatementUp)

nmap <leader>sa <Action>(SearchEverywhere)
nmap <leader>sc <Action>(GotoClass)
nmap <leader>sf <Action>(GotoFile)
nmap <leader>ss <Action>(GotoSymbol)
nmap <leader>st <Action>(GotoAction)

nmap <leader>i <Action>(ImplementMethods)
nmap <leader>o <Action>(OverrideMethods)

nmap <S-K> <Action>(QuickJavaDoc)
nnoremap <leader><leader> <C-^>

map <leader>dsi <Action>(StepInto)
map <leader>dso <Action>(StepOut)
map <leader>dsa <Action>(StepOver)
map <leader>bp <Action>(ToggleLineBreakpoint)

"" imap <C-a> <Action>(EditorLineStart)
"" imap <C-e> <Action>(EditorLineEnd)
"" imap <C-f> <Action>(EditorRight)
"" imap <C-b> <Action>(EditorLeft)
"" imap <C-y> <Action>(EditorChooseLookupItem)


map <leader>r <Action>(IdeaVim.ReloadVimRc.reload)