[core]
	editor = nvim

[user]
	email = iampoxel6@gmail.com
	name = PoXel6

[push]
	autoSetupRemote = true

[color]
    ui = auto

[merge]
    tool = vimdiff # or your preferred merge tool

[diff]
    tool = vimdiff # or your preferred diff tool

[credential]
    helper = store # or 'cache' for temporary storage

[push]
    default = simple

[rerere]
    enabled = true # Record and reuse conflict resolutions

[alias]
    # Show a graph of commits
    lg = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %C(blue)%cr%Creset %C(green)%an%Creset' --abbrev-commit
    
    # Show a short status
    s = status -s
    
    # Add all changes
    aa = add -A
    
    # Commit with message
    cm = commit -m
    
    # Checkout branch
    co = checkout
    
    # Create new branch and checkout
    cb = checkout -b
    
    # Show branches
    br = branch
    
    # Show the last commit
    last = log -1 HEAD
    
    # Show the current branch
    cbname = rev-parse --abbrev-ref HEAD
    
    # Show a list of stashes
    stashes = stash list
    
    # Delete a branch
    bd = branch -d
    
    # Force delete a branch
    bdf = branch -D
    
    # Fetch all and prune
    fp = fetch --all --prune
    
    # Show commits that are not in the current branch
    incoming = "!git fetch -p origin && git log HEAD..origin/$(git rev-parse --abbrev-ref HEAD) --stat"
    
    # Amend the last commit
    amend = commit --amend
    
    # Push to the current branch
    pushu = push -u origin $(git rev-parse --abbrev-ref HEAD)
    
    # Push command for the first time
    fpush = push -u origin main
    # Pull rebase
    pullr = pull --rebase
    
    # Show detailed information about the remote repository
    rinfo = remote show origin
