[Desktop Entry]
Name=Spotify
Exec=/home/conch/.local/share/bin/spotify
Icon=/home/conch/.local/share/applications/spotify/spotify
Type=Application
Categories=AudioVideo;Music;
StartupWMClass=Spotify
Terminal=false
X-Desktop-File-Install-Version=0.28

