* {
  font-family: "InterVariable", "ComicShannsNerdFont";
  font-size: 16px;
  min-height: 10px;
  padding: 0 1px;
  margin: 0;
}

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.4rem;
}

#workspaces button {
  color: @main-fg;
}

#workspaces button.active {
  background: @wk-act-bg;
  color: @wb-act-fg;
  margin: 0 3px;
  padding: 0 2px;
}

#workspaces button.urgent {
  color: @wb-urg-fg;
  background: @wb-urg-bg;
  opacity: 0.9;
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#wireplumber,
#wireplumber.muted,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#mpris,
#custom-wbar,
#window,
#workspaces,
#custom-powermenu,
#custom-l_end,
#custom-r_end,
#custom-sep,
#custom-update,
#custom-notification {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  padding: 0 10px;
}
