* {
  font-family: "InterVariable", "IosevkaNerdFont";
  font-size: 16px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.4rem;
}

#workspaces button {
  color: @main-fg;
}

#workspaces button.active {
  background: @wk-act-bg;
  color: @purple;
  margin: 0 3px;
  padding: 0 5px;
}

#workspaces button.urgent {
  color: @wb-urg-fg;
  background: @wb-urg-bg;
  opacity: 0.9;
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#clock,
#idle_inhibitor,
#memory,
#mpris,
#network,
#custom-notifications
#pulseaudio,
#wireplumber,
#wireplumber.muted,
#tray,
#workspaces,
#custom-powermenu,
#custom-update,
#custom-notification {
  color: @main-fg;
  background: @main-bg;
  border-radius: 10px;
  opacity: 1;
  min-width: 35px;
  padding: 2px 10px;
  margin: 4px 5px 0 5px;
}

#clock {
	color: @blue;
}
#wireplumber {
	color: @yellow;
}
