* {
  font-family: "InterVariable", "Iosevka Nerd Font Mono 16";
  font-size: 16px;
  min-height: 10px;
}

window#waybar {
  background: transparent;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 10px;
  padding: 5px;
  font-size: 1.4rem;
}

#workspaces button {
  color: @main-fg;
}

#workspaces button.active {
  background: @wk-act-bg;
  color: @purple;
  /* margin: 0 3px; */
  /* padding: 0 5px; */
}

#workspaces button.urgent {
  color: @wb-urg-fg;
  background: @wb-urg-bg;
  opacity: 0.9;
}

#workspaces button:hover {
  color: @wb-hvr-bg;
  background: @wb-hvr-fg;
  opacity: 0.8;
  border-radius: 30px;
  animation: ws_hover 2s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#clock,
#memory,
#mpris,
#network,
#pulseaudio,
#wireplumber,
#wireplumber.muted,
#custom-update,
#custom-timer,
#tray,
#workspaces {
  color: @main-fg;
  background: @main-bg;
  border-radius: 15px;
  opacity: 1;
  min-width: 35px;
  padding: 2px 10px;
  margin: 4px 5px 0 5px;
}

#idle_inhibitor,
#custom-powermenu,
#custom-notification {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  min-width: 35px;
}

#idle_inhibitor {
  min-width: 35px;
  border-radius: 15px 0 0 15px;
  padding: 0 5px 0 10px;
  margin: 4px 0 0 10px;
}

#custom-notification {
  min-width: 35px;
  border-radius: 0 15px 15px 0;
  padding: 0 10px 0 5px;
  margin: 4px 10px 0 0;
}

#clock {
	color: @blue;
}
#wireplumber {
	color: @yellow;
}
#custom-update{
	color: @red;
}

 /* Waybar Timer */
/* https://github.com/niraletter/waybar-pomodoro-timer */
 #custom-timer {
	 background: @main-bg;
	 color: @main-fg;
	 font-family: "Iosevka Nerd Font Mono 16";
     font-size: 18px;
     border-radius: 15px;
     font-weight: 600;
     transition: all 0.2s ease;
 }

 #custom-timer.disabled {
	 background: @main-bg;
	 color: @main-fg;
     font-weight: normal;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-direction: alternate;
 }

 #custom-timer.idle,
 #custom-timer.running,
 #custom-timer.pomo_msg,
 #custom-timer.paused,
 #custom-timer.done,
 #custom-timer.reset,
 #custom-timer.select {
	 background: @main-bg;
	 color: @main-fg;
 }

 #custom-timer.pomo_break {
	 color: @lime;
 }

 #custom-timer.warning {
	 background: @main-bg;
	 color: @yellow;
     animation-name: red-alert;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 /* -----------------------------------------------------------------------------
 * KEYFRAMES: Red Color Fading
 * ----------------------------------------------------------------------------- */
 @keyframes red-alert {
     0% {
         color: #ff4d4d; /* Bright, visible Red */
         opacity: 1;
     }
     100% {
         color: #ff4d4d;
         opacity: 0.75; /* Fade cleanly to 75% transparency */
         text-shadow: none;
     }
 }

