* {
	bg: #0d0d0d77;
	bg0: rgba(255,255,255, 0%);
	hover: #151721bf;
	text: #f5f5f5dd;
    entry: #f5f5f5dd;
	placeholder: #acacac69;
	border: transparent;
	input-bottom-border: #272727dd;

 	// bg: rgba(38,43,52,85%);
	bg1: rgba(255,255,255, 0%);
    fg0:  #262b34d9;
    fg1:  #e1e1e1;
	// border: #ffffff33;
	scrollbar: #3a3f4a;
}
