.cache/
.fabric/
assets/
libraries/
bin/
crash-reports/
data/
debug/
defaultconfigs/
diggusmaximus/
downloads/
fabric/
global/
itemscroller/
labymod-neo/
libraries/
psi_persistent/
resourcepacks/
runtime/
saves/
screenshots/
shaderpacks/
versions/
fabricloader.log
ferritecore.mixin.properties
launcher_accounts.json
launcher_settings.json
launcher_ui_state.json
noxesium-config.json
realms_persistence.json
rrls.toml
usercache.json
usernamecache.json
mods/
logs/
