* {
  border: none;
  border-radius: 0px;
  font-family: "InterVariable", "Jetbrains Mono Nerd Font";
  font-weight: 600;
  font-size: 13px;
  min-height: 10px;
  padding: 0;
  margin: 0;
}

@import "theme.css";

window#waybar {
  background: @bar-bg;
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border-radius: 9px;
}

#workspaces {
  padding: 4px;
}

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding-left: 2px;
  padding-right: 2px;
  color: @main-fg;
}

#workspaces button.active {
  background: @wb-act-bg;
  color: @wb-act-fg;
  text-shadow: @wb-act-fg-glow 0px 0 5px;
  margin-left: 3px;
  margin-right: 3px;
  padding: 2px 5px 2px 5px;
}

#workspaces button.urgent {
  background: red;
  color: black;
  opacity: 0.9;
}

#workspaces button:hover {
  background: @wb-hvr-bg;
  color: @wb-hvr-fg;
  animation: ws_hover 20s ease-in-out 1;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#tray menu * {
  min-height: 16px;
}

#tray menu separator {
  min-height: 10px;
  padding: 10px;
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-notifications,
#custom-power,
#pulseaudio,
#wireplumber,
#wireplumber.muted,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#mpris,
#custom-wbar,
#window,
#workspaces,
#custom-powermenu,
#custom-l_end,
#custom-r_end,
#custom-sep,
#custom-update,
#custom-notification {
  color: @main-fg;
  background: @main-bg;
  opacity: 1;
  margin: 3px 0px 3px 0px;
  padding: 4px;
}

#custom-sep {
  padding-left: 5px;
  padding-right: 5px;
}

#custom-notification,
#custom-powermenu {
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 13px;
}

#wireplumber.muted {
  color: red;
}

/* hacks */
#custom-r_end {
  border-radius: 0px 19px 19px 0px;
  margin-right: 8px;
  padding-right: 0px;
}

#custom-l_end {
  border-radius: 19px 0px 0px 19px;
  margin-left: 8px;
  padding-left: 0px;
}

#custom-left {
  font-size: 24px;
  color: @main-bg;
  font-family: "Jetbrains Mono Nerd Font";
  margin-bottom: 0;
}

#custom-right {
  color: @main-bg;
  font-family: "Jetbrains Mono Nerd Font";
  font-size: 24px;
  margin-bottom: 0;
  padding-right: 3px;
}
