@import "./theme.css";

* {
  font-family: "Inter Variable", "Hack Nerd Font Mono";
  font-size: 16px;
  /* min-height: 10px; */
}

window#waybar {
  background: transparent;
  /* background: @main-bg; */
}

tooltip {
  background: @main-bg;
  color: @main-fg;
  border: 1px solid @border;
  border-radius: 12px;
  padding: 6px;
  font-size: 1.1rem;
}

#workspaces button {
  color: @main-fg;
  border: 0;
}

#workspaces button.active {
  background: @selection;
  color: @purple;
  border-radius: 15px;
  transition: all 0.3s ease;
  /* margin: 0 3px; */
  /* padding: 0 5px; */
}

#workspaces button.urgent {
  color: @wb-urg-fg;
  background: @wb-urg-bg;
  opacity: 0.9;
}

#workspaces button:hover {
  color: @wb-hvr-bg;
  background: @main-bg;
  opacity: 0.8;
  border-radius: 10px;
  animation: ws_hover 2s ease-in-out 1;
  transition: all 0.5s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#clock,
#memory,
#cpu,
#mpris,
#network,
#pulseaudio,
#wireplumber,
#wireplumber.muted,
#custom-update,
#custom-timer,
#idle_inhibitor,
#battery,
#custom-notification,
#tray,
#workspaces {
  color: @main-fg;
  background: @main-bg;
  border: 1px solid @border;
  border-radius: 15px;
  opacity: 1;
  min-width: 35px;
  padding: 1px 10px;
  margin: 2px 5px 0 5px;
}

#custom-timer,
#idle_inhibitor,
#custom-notification {
	border: 0;
	margin: 2px 0 0 0;
	border-radius: 0;
	padding: 3px;
	border-top: 1px solid @border;
	border-bottom: 1px solid @border;
}

#custom-notification {
	border-right: 1px solid @border;
	margin: 2px 15px 0 0;
	border-radius: 0 15px 15px 0;
}

#custom-timer {
	border-left: 1px solid @border;
	margin: 2px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

#memory,
#battery,
#cpu {
	border: 0;
	margin: 2px 0 0 0;
	border-radius: 0;
	padding: 0 10px;
	border-top: 1px solid @border;
	border-bottom: 1px solid @border;
}

#cpu {
	border-right: 1px solid @border;
	margin: 2px 5px 0 0;
	padding: 0 15px 0 5px;
	border-radius: 0 15px 15px 0;
}

#memory {
	border-left: 1px solid @border;
	margin: 2px 0 0 15px;
	border-radius: 15px 0 0 15px;
}

#clock {
	color: @yellow;
}
#wireplumber {
	color: @cyan;
}
#custom-update{
	color: @lime;
}
#mpris {
	color: @purple;
}

 #custom-timer.disabled {
	 background: @main-bg;
	 color: @main-fg;
     font-weight: normal;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-direction: alternate;
 }

 #custom-timer.idle,
 #custom-timer.running,
 #custom-timer.pomo_msg,
 #custom-timer.paused,
 #custom-timer.done,
 #custom-timer.reset,
 #custom-timer.select {
	 background: @main-bg;
	 color: @main-fg;
 }

 #custom-timer.pomo_break {
	 color: @lime;
 }

 #custom-timer.warning {
	 background: @main-bg;
	 color: @yellow;
     animation-name: red-alert;
     animation-duration: 1s;
     animation-timing-function: ease-in-out;
     animation-iteration-count: infinite;
     animation-direction: alternate;
 }

 /* -----------------------------------------------------------------------------
 * KEYFRAMES: Red Color Fading
 * ----------------------------------------------------------------------------- */
 @keyframes red-alert {
     0% {
         color: @red;
         opacity: 1;
     }
     100% {
         color: @red;
         opacity: 0.75; /* Fade cleanly to 75% transparency */
         text-shadow: none;
     }
 }

