@define-color bar-bg #282C34;

@define-color main-fg #ABB2BF;
@define-color main-bg #282C34;

@define-color wb-urg-fg #E06C75;
@define-color wb-urg-bg transparent;

@define-color wb-act-fg #C678DD;
@define-color wb-act-bg transparent;

@define-color wk-inact-fg transparent;
@define-color wk-inact-bg transparent;

@define-color wb-hvr-fg #61AFEF;
@define-color wb-hvr-bg transparent;

@define-color bg #282C34;
@define-color red #E06C75;
@define-color lime #98C379;
@define-color yellow #E5C07B;
@define-color cyan #61AFEF;
@define-color purple #C678DD;
@define-color blue #56B6C2;
@define-color fg #ABB2BF;
@define-color grey #5C6370;
@define-color red #E06C75;
@define-color lime #98C379;
@define-color yellow #E5C07B;
@define-color cyan #61AFEF;
@define-color purple #C678DD;
@define-color blue #56B6C2;
@define-color white #FFFFFF;
